* {
	background-color: #881f1b;
	font-family: Arial;
	color: white;
	
}

.containerbody {
	background-color: #881f1b;
}

.containertable {
	text-align: center;
	margin: 0% 6% 0% 6%;
}

#quo {
	background-color: white;
	color: black;
}